# === Java / Maven ===
target/
*.log
*.class
*.jar
*.war

# === Configuración Maven Wrapper ===
.mvn/
!**/mvnw
!**/mvnw.cmd

# === Eclipse / STS ===
*.iml
.project
.classpath
.settings/
.metadata/

# === IDEs ===
.idea/
.vscode/

# === Docker ===
docker-images/
*.tar

# === Sistema ===
.DS_Store
Thumbs.db

# === Archivos grandes específicos (excluidos manualmente) ===
TreatmentService/PostgreSQL/17/
BiodataService/MongoDB/Server/8.0/data/